.price-typography {
  color: #bbb5ab;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s, transform 1s;
}

.price-typography.animate {
  opacity: 1;
  transform: translateY(0);
}

.header-typography {
  color: #bbb5ab;
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 1s, transform 1s;
}

.header-typography.animate {
  opacity: 1;
  transform: translateY(0);
}

.button-typography {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 2s, transform 2s;
}

.button-typography.animate {
  opacity: 1;
  transform: translateY(0);
}
